html{
    font-size: 62.5%; /**reset para rem - 62.5% = 10px de 16px**/
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


/*Globales*/
img{
    max-width: 100%;
}

.container{
    min-width: 120rem;
    margin: 0 auto;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.4rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.6rem;
}

/*Utilidades*/
.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300{
    font-weight: 300;
}

.taC{
    text-align: center;
}

.d-block{
    display: block !important;
}

/*buttons*/
.btn{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    display: inline-block;
    text-align: center;
    margin-top: 3rem;
}

.btn-yellow{
    background-color: #e08709;
}

.btn-green{
    background-color: #71B100;
}


/* Header */
.site-header.inicio{
    background: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-width: 60rem;
}

.container-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-header h1{
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

/* Container */
.container{
    max-width: 120rem;
    margin: 0 auto;    
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.nav a:hover{
    color: #71B100;
}
.nav a:last-child{
    margin: 0;
}

/*Icons Nosotros*/
.icons-nosot{
    display: flex;
    justify-content: space-between;
}

.icon{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.icon h3{
    text-transform: uppercase;
}

/*Anuncios*/
.container-anuncios{
    display: flex;
    justify-content: space-between;
}

.anuncio{
    flex-basis: calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
}

.content-anuncio{
    padding: 2rem;
}
.content-anuncio h3,p{
    margin: 0;
}

.price{
    color: #71B100;
    font-weight: 700;
}

.icon-caracteristic{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.icon-caracteristic li{
    display: flex;
}

.icon-caracteristic li img{
    margin-right: 2rem;
}

.btn-verTodas{
    display: flex;
    justify-content: flex-end;
}

/*Contacto home*/
.img-contacto{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    
}

.content-contacto{
    flex: 1;
    color: white;
}

.content-contacto p{
    font-size: 1.8rem;
}

/*Inferior section*/
.section-inf{
    display: flex;
    justify-content: space-between;
}

.section-inf .blog{
    flex-basis: 60%;
}

.section-inf .testimoniales{
    flex-basis: calc(40% - 2rem);
}

.blog-post{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.blog-post:last-child{
    margin-bottom: 0;
}

.blog-post .img-rad{
    flex-basis: 40%;
}

.blog-post .post-text{
    flex-basis: calc(60% - 3rem);
}

.post-text h4{
    margin: 0;
    line-height: 1.4;
}

.post-text a{
    color: black;
    text-decoration: none;
}

.post-text h4::after{
    content: '';
    display: block;
    width: 15rem;
    height: 0.5rem;
    background-color: #71B100;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.post-text span{
    color: #e08709;
}

.testimonial{
    background-color: #71B100;
    font-size: 2.4rem;
    padding: 2rem;
    color: white;
    border-radius: 2rem;
}

.testimonial p{
    text-align: right;
}

.testimonial blockquote::before{
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}

.testimonial blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}

/*footer*/
.site-footer{
    background-color: #333333;
    margin: 0;
}

.container-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copyright{
    margin: 0;
    color: white;
}